@charset "UTF-8";
/*  ОСНОВНОЕ */
body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section:nth-child(2) {
    padding-bottom: 0px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* КОНТАКТЫ ФУТЕР */
.contacts-footer {
  margin-top: 8px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
  /*transition-property: color;*/
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-footer:hover, .contacts-footer:focus {
  color: #2196f3;
}

/* ФОРМА ФУТЕР*/
.one {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .one {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .one {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .one {
    margin-left: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .form-subscribe {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe {
    margin-left: auto;
  }
}

.form-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .form-subscribe__body {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribe__content {
    display: flex;
  }
}

.form-subscribe__input {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__input {
    width: 358px;
  }
}

.form-subscribe__button {
  margin-top: 20px;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
}
@media screen and (max-width: 767px) {
  .form-subscribe__button {
    padding: 10px 28px 10px 31px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__button {
    margin-right: auto;
    margin-left: 12px;
  }
}

.form-subscribe__icon {
  margin-left: 12px;
  fill: #ffffff;
}
@media screen and (min-width: 1200px) {
  .form-subscribe__icon {
    margin-left: 10px;
  }
}

/* ФУТЕР */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}

.address {
  font-style: normal;
  margin-top: 20px;
}

/*.address__list {

}*/
/*.address__item {
    &:last-child {
        margin-bottom: 0;
    }
}*/
.makeit {
  font-weight: 700;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__link {
  line-height: 1.71;
  text-decoration: none;
  color: #ffffff;
  /*transition-property: color;*/
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

/* ХЕДЕР */
.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

/* МОБИЛЬНОЕ МЕНЮ */
.mobile__menu {
  z-index: 2;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}
@media screen and (min-width: 767px) {
  .mobile__menu {
    display: none;
  }
}
.mobile__menu .mobile__menu-close {
  display: none;
}
.mobile__menu .mobile__menu-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__menu .mobile__menu-icon:hover {
  fill: #2196f3;
}

.mobile__menu:focus svg {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__menu.is-open .mobile__menu-close {
  display: block;
}
.mobile__menu.is-open .mobile__menu-open {
  display: none;
}

/* НАВИГАЦИЯ И КОНТАКТЫ */
.navigation {
  z-index: 1;
  background-color: #ffffff;
}
.navigation.is-open {
  transform: translateX(0);
}
@media screen and (max-width: 767px) {
  .navigation {
    position: fixed;
    transform: translateX(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.nav__body {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .nav__menu {
    display: flex;
    align-items: center;
    margin-left: 87px;
    gap: 50px;
  }
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .nav__link {
    display: block;
    margin-bottom: 33px;
    font-size: 40px;
    line-height: 1.18;
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
}

.nav__link--current {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav__link--current {
    position: relative;
    color: #2196f3;
    display: block;
  }
  .nav__link--current::after {
    content: "";
    position: absolute;
    background-color: #2196f3;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    margin: auto;
    margin-left: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 375px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:nth-child(2) {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item {
    margin-top: 10px;
  }
  .contacts__item:first-child {
    margin-top: 0;
  }
}

.contacts__link-tel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .contacts__link-tel {
    font-size: 24px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts__link-tel {
    font-size: 34px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__link-tel {
    line-height: 1.18;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link-tel {
    display: flex;
    align-items: center;
  }
  .contacts__link-tel:hover, .contacts__link-tel:focus {
    color: #2196f3;
    fill: #2196f3;
  }
  .contacts__link-tel:hover svg, .contacts__link-tel:focus svg {
    fill: #2196f3;
  }
}

.contacts__link-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}
.contacts__link-email:hover, .contacts__link-email:focus {
  color: #2196f3;
  fill: #2196f3;
}
.contacts__link-email:hover svg, .contacts__link-email:focus svg {
  fill: #2196f3;
}
@media screen and (max-width: 767px) {
  .contacts__link-email {
    font-size: 24px;
  }
}

.contacts__icon-email {
  margin-right: 6px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contacts__icon-email {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon-email {
    width: 16px;
    height: 12px;
  }
}

.contacts__icon-tel {
  margin-right: 6px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contacts__icon-tel {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon-tel {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .social-item__mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 395px) {
  .social-item__mobile-menu {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .social-item__mobile-menu {
    display: flex;
    row-gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .social-link__mobile-menu {
    padding: 0px 10px;
    text-decoration: none;
    color: #2196f3;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }
  .social-link__mobile-menu:nth-child(n+2) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
  .social-link__mobile-menu:first-child {
    padding-left: 0px;
  }
  .social-link__mobile-menu:last-child {
    padding-right: 0;
  }
}

/* СПРЯТАННЫЙ ЕЛЕМЕНТ */
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* ЛОГОТИП ХЕДЕР */
.logo__part {
  color: #2196f3;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  display: flex;
  padding: 16px 0;
  width: max-content;
}
.logo--white {
  color: #ffffff;
  padding: 0;
}
@media screen and (max-width: 1199px) {
  .logo--white {
    display: flex;
    justify-content: center;
    width: auto;
  }
}

/* МОДАЛЬНОЕ ОКНО */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll; /*?? прокрутка модалки ??*/
  opacity: 1;
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  /*transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px 40px 40px 40px;
  /*background: $background-text-color;*/
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 450px;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .modal {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close-button {
  background-color: #ffffff;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.modal__close-button:hover, .modal__close-button:focus {
  color: #2196f3;
}
.modal__close-icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  /*transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

/* ОФОРМЛЕНИЕ МОДАЛКИ */
.modal__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__form-field {
  display: block;
  position: relative;
}

.modal__form {
  position: relative;
}

.modal__form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-input:hover {
  border-color: #2196f3;
}
.modal__form-input:focus ~ svg {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-textarea {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  cursor: pointer;
}
.modal__form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-textarea:hover, .modal__form-textarea:focus {
  border-color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .modal__form-textarea {
    line-height: 1.14;
    font-size: 14px;
  }
}

.modal__checkbox-body {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 430px) {
  .modal__checkbox-body {
    justify-content: flex-start;
  }
}

.modal__form-input {
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__checkbox-link {
  color: #2196f3;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 430px) {
  .modal__checkbox-link {
    margin-top: 5px;
  }
}

.modal__checkbox-text {
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal__submit-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.modal__submit-body {
  display: flex;
  justify-content: center;
}

.modal__form-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-input {
  position: relative;
}

.modal__input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 45%;
  left: 12px;
  pointer-events: none;
}
.modal__form-field:hover .modal__input-icon {
  fill: #2196f3;
}

.modal__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__checkbox-input:checked + .modal__checkbox-agree {
  opacity: 1;
}
.modal__checkbox-input:checked ~ .modal__checkbox-empty {
  opacity: 0;
  flex-shrink: 0;
  margin-left: 7px;
}

.modal__checkbox-input + .modal__checkbox-agree {
  opacity: 0;
}
.modal__checkbox-input ~ .modal__checkbox-empty {
  opacity: 1;
  flex-shrink: 0;
  margin-left: 7px;
}

.modal__checkbox-agree {
  min-width: 16px;
  margin-right: 8px;
  position: absolute;
  left: 20px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal__checkbox-agree {
    left: 7px;
  }
}

.modal__checkbox-empty {
  margin-right: 8px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* СЕКЦИЯ КОМАНДА */
.teammates__item .teammates {
  background-color: #f5f4fa;
}

.teammates__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .teammates__list {
    gap: 30px;
  }
}

.section__title {
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;
}

.teammates__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .teammates__item {
    width: calc((100% - 30px) / 2);
  }
  .teammates__item:nth-child(n+3) {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .teammates__item {
    margin-top: 50px;
    width: calc((100% - 90px) / 4);
  }
}

.teammates__icon {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .teammates__icon {
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .teammates__icon {
    height: 260px;
  }
}

.teammates__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.teammates__profession {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
}

.teammates__container {
  padding-bottom: 24px;
  padding-top: 30px;
}

.social-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-networks__item {
  width: 44px;
}

.social-networks__link {
  fill: #afb1b8;
  height: 44px;
  /*width: 100%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #2196f3;*/
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover, .social-networks__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}
.social-networks__link--white {
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

/* СЕКЦИЯ ПРЕИМУЩЕСТВА */
.advantage-cards {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .advantage-cards {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-cards {
    gap: 30px;
  }
}

.advantage-cards__item {
  /*width: auto;*/
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .advantage-cards__item:first-child {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage-cards__item {
    width: calc((100% - 30px) / 2);
    /*display: block;*/
  }
  .advantage-cards__item:nth-child(2n) {
    margin-left: 30px;
  }
  .advantage-cards__item:nth-child(-n+2) {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-cards__item {
    width: calc((100% - 90px) / 4);
    margin-top: 0;
  }
}

.advantage-cards__container {
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage__subtitle {
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .advantage__subtitle {
    text-align: left;
  }
}

.advantage__text {
  color: #757575;
  line-height: 1.71;
  margin-top: 10px;
  /*&:last-child {
      margin-bottom: 0;
  }*/
}

/* СЕКЦИЯ ПОСТОЯННЫХ КЛИЕНТОВ */
.clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .clients {
    flex-wrap: wrap;
  }
}

.clients__icon {
  width: calc((100% - 30px) / 2);
}
@media screen and (max-width: 767px) {
  .clients__icon:nth-child(n+3) {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__icon:nth-child(n+4) {
    margin-top: 0;
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__icon {
    margin-top: 50px;
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

/* ГЛАВНАЯ СЕКЦИЯ */
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-background480.jpg);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-background480@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-background768.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-background768@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-background1600.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-background1600@2x.jpg);
  }
}
.hero__title {
  color: #ffffff;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.hero__button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-top: 30px;
  padding: 10px 24px;
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

/* СЕКЦИЯ ПОРТФОЛИО (Кнопки) */
.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio-filter {
    justify-content: center;
  }
}

/*.portfolio-filter__item {
    @media screen and (min-width: 768px) {

        margin-right: 0;

        &:nth-child(3) {
            margin-right: 0;
        }

    }

    &:last-child {
        margin-right: 298px;
    }

    &:first-child {
        margin-left: 297px;
    }
}*/
.portfolio-filter__button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 25px;
  border: none;
  transition-property: box-shadow, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter__button:hover, .portfolio-filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*ОВЕРЛЕЙ ПОРТФОЛИО*/
.project__overlay {
  position: relative;
  overflow: hidden;
}

.project__overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}
.project:hover .project__overlay-container, .project:focus .project__overlay-container {
  transform: translateY(0);
}

.project__overlay-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

/* Секция ПОРТФОЛИО (ПРОЕКТЫ) */
/*.portfolio {
    background-color: $background-text-color;
}*/
.portfolio-project {
  display: flex;
  flex-wrap: wrap;
}

.project__ovelay-icon {
  width: 450px;
  height: 294px;
}

.portfolio-project__item {
  margin-top: 30px;
  /*background-color: $background-text-color;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
      margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
      margin-bottom: 0;
  }*/
}
@media screen and (max-width: 767px) {
  .portfolio-project__item:first-child {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-project__item {
    width: calc((100% - 30px) / 2);
  }
  .portfolio-project__item:nth-child(odd) {
    margin-right: 30px;
  }
  .portfolio-project__item:nth-child(-n+2) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-project__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .portfolio-project__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-project__item:nth-child(-n+3) {
    margin-top: 50px;
  }
}

.project {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover, .project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__border {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__border:first-child {
    padding-bottom: 56px;
  }
}

.project__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__title {
    max-width: 306px;
  }
}

.project__category {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
}

/* СЕКЦИЯ СПЕЦИАЛИЗАЦИЯ */
@media screen and (max-width: 1199px) {
  .specialization {
    display: none;
  }
}

.specialization__list {
  display: flex;
}

.specialization__item {
  position: relative;
  margin-right: 30px;
  margin-top: 50px;
}
.specialization__item:last-child {
  margin-right: 0;
}

.section__title {
  /*text-align: center;*/
  font-size: 28px;
  line-height: 1.16;
  font-weight: 700;
  margin-bottom: 30px;
}

.specialization__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}

.specialization__text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
}/*# sourceMappingURL=main.css.map */