/* СЕКЦИЯ ПОСТОЯННЫХ КЛИЕНТОВ */

.clients {
    display: flex;
    justify-content: center;
    gap: 30px;

    @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
        }
}

.clients__icon {
    
    width: calc((100% - 30px) / 2);

    @media screen and (max-width: 767px) {
    
        &:nth-child(n+3) {
            margin-top: 0;
        }
        }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
         
        &:nth-child(n+4) {
            margin-top: 0;
            width: calc((100% - 60px) / 3); 
        }
    }

    @media screen and (min-width: 1200px) {
            margin-top: 50px;
            width: calc((100% - 150px) / 6); 
    }
}

.clients__link {
    border: 1px solid $color-icons;
    border-radius: 4px;
    fill: $color-icons;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $interactive-color;
        border-color: $interactive-color;
    }

    @media screen and (min-width: 768px) {
        width: 226px; 
    }

    @media screen and (min-width: 1200px) {
        width: 170px
    }
    
} 