/* СЕКЦИЯ ПРЕИМУЩЕСТВА */

.advantage-cards {
    display: flex;
    justify-content: center;
    
    @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        gap: 30px;
    }
}

.advantage-cards__item {
    /*width: auto;*/
    margin-top: 30px;
    

    @media screen and (max-width: 767px) {
        &:first-child {
            margin-top: 0;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 1 * 30px) / 2);
        
        /*display: block;*/

    &:nth-child(2n) {
        margin-left: 30px;
    }

    &:nth-child(-n+2) {
        margin-top: 0;
    }

    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 3 * 30px) / 4);
        margin-top: 0;  
    }
}

.advantage-cards__container {
    background-color: $background-section-color;
    border-radius: 4px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage__subtitle {
    color: $primary-text-color;
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.advantage__text {
    color: $secondary-text-color;
    line-height: 1.71;
    margin-top: 10px;

    /*&:last-child {
        margin-bottom: 0;
    }*/
}