$primary-text-color: #212121;
$interactive-color: #2196f3;
$secondary-text-color: #757575;
$background-text-color: #ffffff;
$logo-color-header: #000000;
$footer-backgroud-color: #2f303a;
$background-section-color: #f5f4fa;
$border-color: #eeeeee;
$color-icons: #afb1b8;

$font-family-main: Roboto, sans-serif;
$font-family-secondary: Raleway, sans-serif;